
@{
    ViewBag.Title = "ListaProveedores";
    Layout = "~/Views/Shared/_UsuarioLogueado.cshtml";
}

<br />
<br />
<div class="row">
    <div class="col-12 text-center">
        <h2>Proveedores</h2>
    </div>
</div>
<hr />
<br />
<div class="row">
    <div class="col-12">

    </div>
    <div class="col-8"><!--Lista de proveedores-->
        <div class="row item-tabla">
            <div class="col-4">
                <span class="login100-form-title p-b-10">
                    Nicolas Ballaman
                </span>
            </div>
            <div class="col-8 text-right">
                <span class="p-b-10">
                   tel: 3537-516096
                </span>
            </div>
            <div class="col-12">
                <span class="login100-form-title p-b-10 fs-15">
                    Categoria1, Categoria1, Categoria1, Categoria1,Categoria1 Categoria1 Categoria1
                </span>
            </div>
        </div>
        <div class="row item-tabla">
            <div class="col-4">
                <span class="login100-form-title p-b-10">
                    Lucas Rovere
                </span>
            </div>
            <div class="col-8 text-right">
                <span class="p-b-10">
                    Skipe: _lucasRove
                </span>
            </div>
            <div class="col-12">
                <span class="login100-form-title p-b-10 fs-15">
                    Categoria1, Categoria1, Categoria1, Categoria1,Categoria1 Categoria1 Categoria1
                </span>
            </div>
        </div>
        <div class="row item-tabla">
            <div class="col-4">
                <span class="login100-form-title p-b-10">
                    Nicolas Ballaman
                </span>
            </div>
            <div class="col-8 text-right">
                <span class="p-b-10">
                    tel: 3537-516096
                </span>
            </div>
            <div class="col-12">
                <span class="login100-form-title p-b-10 fs-15">
                    Categoria1, Categoria1, Categoria1, Categoria1,Categoria1 Categoria1 Categoria1
                </span>
            </div>
        </div>
        <div class="row item-tabla">
            <div class="col-4">
                <span class="login100-form-title p-b-10">
                    Lucas Rovere
                </span>
            </div>
            <div class="col-8 text-right">
                <span class="p-b-10">
                    Skipe: _lucasRove
                </span>
            </div>
            <div class="col-12">
                <span class="login100-form-title p-b-10 fs-15">
                    Categoria1, Categoria1, Categoria1, Categoria1,Categoria1 Categoria1 Categoria1
                </span>
            </div>
        </div>
        <div class="row item-tabla">
            <div class="col-4">
                <span class="login100-form-title p-b-10">
                    Nicolas Ballaman
                </span>
            </div>
            <div class="col-8 text-right">
                <span class="p-b-10">
                    tel: 3537-516096
                </span>
            </div>
            <div class="col-12">
                <span class="login100-form-title p-b-10 fs-15">
                    Categoria1, Categoria1, Categoria1, Categoria1,Categoria1 Categoria1 Categoria1
                </span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <form class="validate-form" autocomplete="off">
            <span class="login100-form-title p-b-34">
                Proveedor
            </span>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese su usuario">
                <input id="usuario" class="input100" type="text" name="usuario" placeholder="Usuario">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese su contraseña">
                <input class="input100" type="password" name="contraseña" placeholder="Contraseña">
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn" onclick="location.href='@Url.Action("frmUsuario","Home")'">
                    Sign in
                </button>
            </div>
        </form>
    </div>
</div>
        

