

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" autocomplete="off">
                <span class="login100-form-title p-b-34">
                    Ingresar
                </span>

                <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Ingrese su usuario">
                    <input id="usuario" class="input100" type="text" name="usuario" placeholder="Usuario">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Ingrese su contraseña">
                    <input class="input100" type="password" name="contraseña" placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" onclick="location.href='@Url.Action("ListarUsuario","Usuario")'">
                        Sign in
                    </button>
                </div>
            </form>
            <div class="login100-more" style="background-image: url('../../Content/images/bg-01.jpg');"></div>
        </div>
    </div>
</div>



<div id="dropDownSelect1"></div>