
@{
    bool DatosIncorrectos = ViewBag.DatosIncorrectos;
}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" autocomplete="off" method="post" action="@Url.Action("Ingresar","Home")">
                @Html.AntiForgeryToken()
                <span class="login100-form-title d-block d-sm-block d-md-none" style="padding-bottom:10px;">
                    <img src="~/Content/images/softcomputacion_icono.png" />
                </span>
                <span class="login100-form-title" style="padding-bottom:34px;">
                    Ingresar
                </span>

                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Ingrese su DNI">
                    <input id="dni" class="input100" type="text" name="dni" placeholder="Documento">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Ingrese su contraseña">
                    <input class="input100" type="password" name="contraseña" placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>
                @if (DatosIncorrectos)
                {
                    <p class="w-100 text-center text-danger" style="font-size:15px;">Documento o contraseña incorrectos</p>
                }

                <div class="container-login100-form-btn" style="margin-top:20px;">
                    <button type="submit" class="login100-form-btn">
                        comenzar
                    </button>
                </div>
            </form>
            <div class="login100-more" style="background-image: url('../../Content/images/softcomputacion_perfil_white.jpg');z-index: inherit;"></div>
        </div>
    </div>
</div>



<div id="dropDownSelect1"></div>