<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoftComputacion</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>





   
  